@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animation {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #ff003a, #ffab5f);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    -o-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
  }

@keyframes animate-gradient {
    0% { background-position: 0% 28%; }
    50% { background-position: 100% 73%; }
    100% { background-position: 0% 28%; }
  }

  @-webkit-keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
  }
  @-o-keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
  }